.footer-body {
  background-color: #fff;
}

.container {
  &.footer-bar {
    max-width: 1920px;
  }

  input.form-control.form-control-search {
    width: 300px;
  }

  svg.bi.bi-search {
    margin-right: 2rem;
  }

  button.btn.text-secondary.me-2 {
    margin: 0 2rem;
  }

  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }

  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .text-small {
    font-size: 85%;
  }

  .dropdown-toggle {
    outline: 0;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

}
div#modalSignin {
  padding-bottom: 15rem;
}
// responsive
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
