

.bi {
  vertical-align: -.125em;
  fill: #380B10;
}

.container.footer-bar {
  max-width: 1920px;
  padding: 0;
}

footer.d-flex.flex-wrap.justify-content-between.align-items-center {
  text-align: center;
  padding: 1rem;
}

