
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: .75rem; }
.rounded-6 { border-radius: 1rem; }

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.border-right { border-right: 1px solid #eee; }

.modal-tour .modal-dialog {
  width: 380px;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
h2{
  color: #380B10;
}
.form-control {
  width: 20rem;
}

span.form-username ,.form-password {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: #380B10;
}

svg.bi.bi-person-fill, .bi-lock-fill {
  width: 1.5rem;
  margin: 0 1rem 1rem 0;
}

button.w-100.mb-2.btn.btn-lg.rounded-4.btn-dark.btn-login {
  max-width: 97%;
  margin-top: 2rem;
  background-color: #380B10;
  border-color: #380B10;
  &:hover {
    color:#198754;
    background-color: white;
    border-color:#198754;
  }
}
div#modalLogin {
  padding-bottom: 10rem;
  padding-top: 8rem;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .form-control {
    max-width: 20rem;
  }
}
@media (max-width: 768px) {

  .form-control {
    max-width: 13rem;
  }
}

