.show-content{
  height:400px ;

  &.show-left{
    border: 1px solid #380B10 ;
    border-radius: 0px 0px 0px 80px;

  }
  &.show-right{
    border: 1px solid #380B10 ;
    background-color: #380B10;
  }

  h1{
    color: white;
    font-size: 5rem;
    padding: .5rem 0 0 2rem;
    word-wrap: break-word;
  }

  h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 150;
    word-wrap: break-word;
    padding: 1rem 2rem 2rem 2rem;
  }

}
h2{
  font-weight: 600;
  text-align: center;
  margin: 2rem 0;
}

.row{
  display: flex;
  justify-content: center;
}
.card{
  border-color:transparent;
  color: azure;
}
.card-body{
  background-color: #380B10;
  border-radius: 10px 30px 10px 30px;
  text-align: center;
  width: 339px;
  height: 200px;
}
.card-menu{
  justify-content: center;
  display: flex;
  justify-items: center;
}


h4{
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.img-menu{
  width: 7rem;
  margin: 1rem 0 0 6rem;
}

